@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* About me section */
.aboutme_text {
  color: darkslategray !important;
  font: smaller !important;
  line-height: 22px !important;
  white-space: pre-line !important;
}
/* End of About me section */

/* Timeline section */
.resume_timeline .timeline_content .timeline_title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.resume_timeline .timeline_content .timeline_date {
  color: darkslategray;
}

.resume_timeline .timeline_content .timeline_description {
  color: gray;
  font-size: small;
  margin-top: 6px;
}
/* End of Timeline section */

/* services */
.service {
  height: 100%;
  text-align: center;
}

.service .service_title {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
  text-align: center;
}

.service .service_description {
  color: #989898 !important;
  border-color: var(--main-color) !important;
  margin-right: 5px !important;
  text-align: center;
}

.service_icon > .MuiSvgIcon-root {
  font-size: 46px !important;
  margin-left: 0 !important;
  font-weight: 300 !important;
  color: darkslategray !important;
}
/* End of Services */

/* skills */
.skill {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
  min-height: 186px;
  height: 100%;
}

.skill .skill_title {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 35px !important;
}

.skill .skill_description {
  display: flex;
  align-items: center;
  color: #989898;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.skill .skill_description .timeline_dot {
  border-color: var(--main-color);
  padding: 2px !important;
  margin-right: 5px !important;
}

/*End of skills */

/* contact section */
.contactInfo_item {
  font-size: 14px !important;
  color: #787878;
  line-height: 34px !important;
}

.contactInfo_item > span {
  color: #000;
  font-weight: 500;
}

.contactInfo_socialsContainer {
  margin-top: 25px;
}

.contactInfo_social > a > .MuiSvgIcon-root {
  font-size: 27px !important;
  margin-right: 10px;
  color: #000;
  max-width: 25px;
}

.contactInfo_social > a > .MuiSvgIcon-root:hover {
  color: var(--main-color);
  margin-right: 10px;
  font-size: 30px !important;
}
/*End of contact section */

.material-design-icon {
  font-size: 24px;
  margin-right: 5px;
}

.contact {
  text-decoration: none;
  color: #787878;
  margin-left: 7px;
}

.contact-address {
  color: #787878 !important;
  margin-left: 7px;
}

.text-danger {
  font-size: small;
  font-family: "Manrope", sans-serif;
}
