/* Tabs  */
.customTabs .active {
  color: var(--main-color);
}

.customTabs .customTabs_item {
  padding: 0px !important;
  min-width: 0px !important;
  margin-right: 20px !important;
  text-transform: inherit !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  outline-width: 0px !important;
}

@media (max-width: 560px) {
  .tabs {
    display: none;
  }
}

/* End of Tabs  */

/* Cards */
.customCard {
  height: 100%;
  max-width: 400px;
  /* min-width: 350px; */
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08) !important;
  border-radius: 5px;
  overflow: hidden;
  outline-width: 0px !important;
}

.customCard .customCard_image {
  height: 140px;
}

.customCard .customCard_title {
  font-weight: 500;
}

.modal_title {
  font-weight: 800 !important;
}
.customCard_caption {
  font-size: 13px !important;
}
/*End of Cards */

/* Dialog  */
.projectDialog .projectDialog_image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.projectDialog .projectDialog_description {
  margin-top: 10px !important;
}

.projectDialog .projectDialog_actions {
  justify-content: center !important;
  margin-bottom: 10px;
}

.projectDialog .projectDialog_icons {
  color: darkslategray;
  margin: 0px 12px;
  cursor: pointer;
}

.projectDialog .projectDialog_icons:hover {
  color: var(--main-color);
}

.projectDialog .projectDialog_icons > .MuiSvgIcon-root {
  font-size: 30px !important;
}

/* End of Dialog  */

@media (max-width: 768px) {
  .customCard {
    max-width: 650px;
  }
}

.social-link {
  max-width: 25px;
}

.tech_stack {
  font-size: small;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 4px;
  margin: 0 10px;
  flex-grow: 1;
  padding: 10px 0;
}

.purple-text-gradient {
  background: #cb60b3;
  background: linear-gradient(
    to right,
    #cb60b3 0%,
    #c146a1 50%,
    #a80077 51%,
    #db36a4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.black-text-gradient {
background: #295C0B;
background: radial-gradient(circle farthest-corner at center center, #295C0B 0%, #231421 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.blue-green-text-gradient {
  background: #495c0b;
  background: linear-gradient(to left, #495c0b 0%, #3121ba 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-text-gradient {
  background: #ff0000;
  background: linear-gradient(to left, #ff0000 0%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brown-text-gradient {
  background: #f0b7a1;
  background: linear-gradient(
    to right,
    #f0b7a1 0%,
    #8c3310 50%,
    #752201 51%,
    #bf6e4e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  background: #cfc53e;
  background: repeating-radial-gradient(
    ellipse farthest-corner at center center,
    #cfc53e 0%,
    #edd926 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
